* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.App {
  background: url(./assets/img/BG.png), #f5f5f5;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  z-index: -10;
}
@media (max-width: 992px) {
  .App {
    background-image: url(./assets/img/BG.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: -10;
  }
}
@media (max-width: 495px) {
  .App {
    background-image: url(./assets/img/mobileBG.svg);
    background-size: 105vw 105vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: -10;
  }
}

.opacity {
  background: rgba(240, 240, 240, 0.1);
}

.wrapper {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .wrapper {
    width: 90vw;
    overflow: hidden;
  }
}

.pulse {
  position: absolute;
  top: -6.5rem;
  margin: 100px;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 #cca92c;
  animation: pulse 1.5s infinite;
  right: -7.7rem;
  transform: rotate(45deg);
  transition: all 1s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #cca92c;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #cca92c;
    box-shadow: 0 0 0 0 #cca92c;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.header__menu {
  width: 100%;
  display: flex;
  padding: 1.5vw 0 1vw 0;
}
.header__menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
}
.header__menu ul li {
  font-size: 0.8vw;
  text-transform: uppercase;
}
.header__menu ul li:hover {
  color: darkorange;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 992px) {
  .header__menu ul li {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
  .header__menu ul li.header__menu__mobile {
    margin: 3rem 0 0 0;
  }
}
@media (max-width: 992px) {
  .header__menu ul {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__menu img {
  width: 1.5vw;
}
@media (max-width: 992px) {
  .header__menu img {
    width: 2rem;
  }
}
.header__menu__mobile {
  display: none;
}
@media (max-width: 992px) {
  .header__menu__mobile {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__menu__mobile p {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .header__menu {
    height: 103vmax;
    position: absolute;
    left: 0;
    top: 6.5rem;
    padding: 1.5vw 0 1vw 1rem;
    background-color: #e0e8ed;
    transition: all 0.5s;
    transform: translateX(-100rem);
  }
}
.header__menu.visible {
  transform: translateX(0rem);
  z-index: 5;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;
}
.header__top__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  width: 20%;
}
.header__top__item__circle {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5vw;
}
.header__top__item__circle:hover {
  cursor: pointer;
}
.header__top__item__circle img {
  width: 70%;
}
@media (max-width: 992px) {
  .header__top__item__circle {
    width: 3rem;
    height: 3rem;
  }
}
.header__top__item:nth-child(1) {
  display: block;
}
.header__top__item:nth-child(1) p {
  text-align: center;
  line-height: 1.4vw;
  margin: 1vw 0;
}
@media (max-width: 992px) {
  .header__top__item:nth-child(1) {
    display: none;
  }
}
.header__top__item:nth-child(2) p {
  font-weight: 600;
  border-bottom: 2px dashed #12c868;
}
.header__top__item:nth-child(2) p:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__top__item:nth-child(2) {
    display: none;
  }
}
.header__top__item:nth-child(3) {
  background: url(./assets/img/bg-logo2.svg), #f5f5f5;
  background-position: center;
  background-size: 21vw;
  background-blend-mode: screen;
  position: relative;
}
.header__top__item:nth-child(3) img {
  position: absolute;
  top: 0;
  width: 12vw;
}
@media (max-width: 992px) {
  .header__top__item:nth-child(3) img {
    width: 11rem;
  }
}
@media (max-width: 495px) {
  .header__top__item:nth-child(3) img {
    width: 7rem;
  }
}
@media (max-width: 992px) {
  .header__top__item:nth-child(3) {
    background-size: 20rem;
    background-blend-mode: unset;
  }
}
@media (max-width: 495px) {
  .header__top__item:nth-child(3) {
    width: 9rem;
    height: 5rem;
    background-size: 11rem;
    background-blend-mode: unset;
  }
}
.header__top__item:nth-child(4) {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .header__top__item:nth-child(4) {
    display: none;
  }
}
.header__top__item:nth-child(5) {
  flex-direction: column;
  width: 21%;
}
.header__top__item:nth-child(5) p {
  margin: 0.2vw 0;
}
.header__top__item:nth-child(5) p:nth-child(3) {
  border-bottom: 2px dashed #12c868;
  color: #12c868;
  cursor: pointer;
  user-select: none;
}
.header__top__item:nth-child(5) b {
  font-size: 1.5vw;
}
@media (max-width: 992px) {
  .header__top__item:nth-child(5) b {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .header__top__item:nth-child(5) {
    width: 19rem;
  }
}
.header__top__item__point {
  display: flex;
  align-items: center;
  margin-right: 0.5vw;
}
.header__top__item a {
  text-decoration: none;
  color: #000;
}
.header__top__item a:hover {
  text-decoration: underline 0.2vw;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__top__item {
    font-size: 0.9rem;
    width: 19rem;
    height: 6rem;
  }
}
.header__top__flex {
  display: flex;
}
.header__top__flex a {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6vw;
  margin: 0.9vw 0.4vw;
  border-radius: 50%;
  cursor: pointer;
}
.header__top__flex a:nth-child(1) {
  background-color: #976fcc;
}
.header__top__flex a:nth-child(2) {
  background-color: #12c868;
}
.header__top__flex a:nth-child(3) {
  background-color: #05a0eb;
}
.header__top__flex a img {
  width: 100%;
}
@media (max-width: 992px) {
  .header__top__flex a img {
    width: 1.8rem;
  }
}
@media (max-width: 992px) {
  .header__top__flex a {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 992px) {
  .header__top {
    justify-content: space-evenly;
    padding: 0 0;
  }
}

hr {
  height: 0.1vw;
  background-color: #1c1c1c;
  opacity: 0.1;
  border: none;
}

main {
  display: flex;
}
@media (max-width: 992px) {
  main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 495px) {
  main {
    position: relative;
  }
}

.bullets {
  width: 13vw;
  background: #fff;
  border-radius: 20px;
  padding: 3vw 2vw;
  font-size: 0.8vw;
  text-align: center;
  line-height: 1.5vw;
  margin-right: 2vw;
}
.bullets__shadow {
  height: 3vh;
  background: url(./assets/img/menu_shadow.svg);
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .bullets__shadow {
    height: 4vh;
  }
}
@media (max-width: 992px) {
  .bullets {
    display: none;
  }
}
.bullets__mobile {
  display: none;
  transition: all 1s;
}
@media (max-width: 495px) {
  .bullets__mobile {
    position: absolute;
    display: block;
    top: 43rem;
    width: 23rem;
    height: 38rem;
    background: url(./assets/img/bulletsMobile.svg);
    background-repeat: no-repeat;
  }
}
.bullets__mobile.up {
  transform: translateY(-51vh);
  transition: all 1s;
}
.bullets__mobile.up .pulse {
  animation: none;
  width: 3rem;
  height: 3rem;
  top: -6.8rem;
  right: -8rem;
  transform: rotate(90deg);
}

.text {
  width: 40vw;
  padding: 3vw 2vw;
}
.text__start {
  width: 25vw;
  font-size: 2vw;
  line-height: 3vw;
  text-align: justify;
}
@media (max-width: 992px) {
  .text__start {
    width: 80vw;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    margin: 2rem 0;
  }
}
@media (max-width: 495px) {
  .text__start {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 0;
  }
}
.text__install {
  display: flex;
  align-items: baseline;
  margin: 1vw 0;
}
.text__install p {
  font-size: 1.5vw;
  margin-left: 1.5vw;
}
@media (max-width: 992px) {
  .text__install p {
    font-size: 2.5rem;
  }
}
@media (max-width: 495px) {
  .text__install p {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .text__install {
    margin: 2rem 0;
  }
}
.text__buttons {
  display: flex;
  margin: 2vw 0;
}
@media (max-width: 992px) {
  .text__buttons {
    flex-direction: column;
  }
}
.text__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vw 2.5vw;
  border-radius: 500px;
  margin: 0 0.3vw;
  transition: all 0.3s;
}
.text__button p {
  font-size: 0.9vw;
  margin-right: 1vw;
  color: #fff;
}
@media (max-width: 992px) {
  .text__button p {
    font-size: 1.8rem;
  }
}
@media (max-width: 495px) {
  .text__button p {
    font-size: 1.3rem;
  }
}
.text__button:nth-child(1) {
  background-color: #12c868;
}
.text__button:nth-child(2) {
  background-color: #f38120;
}
.text__button img {
  width: 1.5vw;
}
@media (max-width: 992px) {
  .text__button img {
    width: 2rem;
    margin-left: 0.5rem;
  }
}
.text__button:hover {
  cursor: pointer;
  transform: scale(105%);
}
@media (max-width: 992px) {
  .text__button {
    margin: 1rem 0;
    padding: 4rem 5rem;
    height: 7rem;
  }
}
.text__bottom {
  display: flex;
  align-items: flex-start;
}
.text__bottom p {
  text-align: center;
  width: 17vw;
  font-size: 1vw;
  line-height: 1.5vw;
  margin-left: 1vw;
}
@media (max-width: 992px) {
  .text__bottom p {
    width: 16rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 495px) {
  .text__bottom p {
    font-size: 1.2rem;
  }
}
.text__bottom img:hover {
  cursor: pointer;
}
@media (max-width: 495px) {
  .text__bottom {
    display: none;
  }
}
@media (max-width: 992px) {
  .text {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.modal__content {
  position: absolute;
  top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.9vw;
  width: 30vw;
  height: 40vw;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 3vw;
  padding: 3vw 6vw;
}
.modal__content p {
  margin: 1vw 0;
}
.modal__content p.first {
  font-size: 1.5vw;
  font-weight: 600;
}
@media (max-width: 992px) {
  .modal__content p.first {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .modal__content {
    width: 27rem;
    height: 35rem;
    font-size: 1rem;
    padding: 3rem 5rem;
  }
}
@media (max-width: 495px) {
  .modal__content {
    top: 20vw;
    width: 25rem;
    height: 33rem;
  }
}
.modal__button,
.modal input {
  width: 20vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vw 2.5vw;
  border-radius: 500px;
  margin: 0.3vw 0.3vw;
  transition: all 0.3s;
  border: transparent;
  cursor: pointer;
  font-size: 1.2vw;
}
.modal__button:nth-child(7),
.modal input:nth-child(7) {
  user-select: none;
  background: #f38120;
}
.modal__button p,
.modal input p {
  font-size: 1vw;
  font-weight: 600;
  margin-right: 1vw;
  color: white;
}
@media (max-width: 992px) {
  .modal__button p,
.modal input p {
    font-size: 1.2rem;
  }
}
.modal__button img,
.modal input img {
  width: 1.5vw;
}
@media (max-width: 992px) {
  .modal__button img,
.modal input img {
    width: 2rem;
  }
}
.modal__button.dis,
.modal input.dis {
  opacity: 0.3;
}
@media (max-width: 992px) {
  .modal__button,
.modal input {
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
  }
}
.modal__close {
  position: absolute;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
  align-items: flex-end;
}
.modal__check {
  display: flex;
  align-items: center;
  width: 20vw;
}
.modal__check input {
  width: 7%;
}
.modal__check input:checked {
  accent-color: #d17d42;
}
@media (max-width: 992px) {
  .modal__check input {
    width: 2rem;
    margin: 0 0.5rem;
  }
}
.modal__check span {
  color: #f38120;
}
@media (max-width: 992px) {
  .modal__check {
    width: 20rem;
  }
}
.modal__send {
  font-size: 2rem;
  color: #4ec200;
}

.hamburger-line {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
}

.hamburger {
  transition: 0.4s;
  display: none;
  position: relative;
  top: 1rem;
  width: 3rem;
  height: 15px;
  z-index: 5;
}
@media (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  transition: 0.5s;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
  top: -1px;
  left: 0;
}
.hamburger:after {
  transition: 0.5s;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
  bottom: -1px;
  left: 0;
}

.rotate:before {
  transition: 0.5s;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
  top: 6px;
  left: 0;
  transform: rotate(-315deg);
}
.rotate:after {
  transition: 0.5s;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
  bottom: 6px;
  left: 0;
  transform: rotate(495deg);
}
.rotate .hamburger-line {
  opacity: 0;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-line {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #1d4668;
  border-radius: 5px;
  top: calc(50% - 1.5px);
  left: 0;
}

/*# sourceMappingURL=index.css.map */
