* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  background: url(./assets/img/BG.png), #f5f5f5;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  z-index: -10;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

.header__menu {
  width: 100%;
  display: flex;
  padding: 1.5vw 0 1vw 0;
}
.header__menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
}
.header__menu ul li {
  font-size: 1vw;
  text-transform: uppercase;
}
.header__menu ul li:hover {
  color: darkorange;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
.header__menu img {
  width: 1.5vw;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;
}
.header__top__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  width: 20%;
}
.header__top__item__circle {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5vw;
}
.header__top__item__circle:hover {
  cursor: pointer;
}
.header__top__item:nth-child(1) {
  display: block;
}
.header__top__item:nth-child(1) p {
  text-align: center;
  line-height: 1.4vw;
  margin: 1vw 0;
}
.header__top__item:nth-child(2) p {
  font-weight: 600;
  border-bottom: 2px dashed #12c868;
}
.header__top__item:nth-child(2) p:hover {
  cursor: pointer;
}
.header__top__item:nth-child(3) {
  background: url(./assets/img/bg-logo2.svg), #f5f5f5;
  background-position: center;
  background-size: 21vw;
  background-blend-mode: screen;
  position: relative;
}
.header__top__item:nth-child(3) img {
  position: absolute;
  top: 0;
  width: 12vw;
}
.header__top__item__point {
  display: flex;
  margin-right: 0.5vw;
}

hr {
  height: 0.1vw;
  background-color: #1c1c1c;
  opacity: 0.1;
  border: none;
}

main {
  display: flex;
}

.bullets {
  width: 13vw;
  background: #fff;
  border-radius: 20px;
  padding: 3vw 2vw;
  font-size: 0.8vw;
  text-align: center;
  line-height: 1.5vw;
  margin-right: 2vw;
}
.bullets__shadow {
  height: 3vh;
  background: url(./assets/img/menu_shadow.svg);
  background-repeat: no-repeat;
}

.text {
  width: 40vw;
  padding: 3vw 2vw;
}
.text__start {
  width: 25vw;
  font-size: 2vw;
  line-height: 3vw;
  text-align: justify;
}
.text__install {
  display: flex;
  align-items: center;
  margin: 1vw 0;
}
.text__install p {
  font-size: 1.5vw;
}
.text__install div {
  width: 4vw;
  margin-right: 0.1vw;
}
.text__buttons {
  display: flex;
  margin: 2vw 0;
}
.text__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vw 2.5vw;
  border-radius: 500px;
  margin: 0 0.3vw;
}
.text__button p {
  font-size: 0.9vw;
  margin-right: 1vw;
  color: #fff;
}
.text__button:nth-child(1) {
  background-color: #12c868;
}
.text__button:nth-child(2) {
  background-color: #F38120;
}
.text__button img {
  width: 10%;
}
.text__bottom {
  display: flex;
  align-items: flex-start;
}
.text__bottom p {
  text-align: center;
  width: 17vw;
  font-size: 1vw;
  line-height: 1.5vw;
  margin-left: 1vw;
}

/*# sourceMappingURL=index.css.map */
