* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  // height: 100vh;
  // border: 3px solid red;
  font-family: 'Montserrat', sans-serif;
}

// #root {
//   height: 99vh;
// }

.App {
  // height: 100%;
  background: url(./assets/img/BG.png), #f5f5f5;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  z-index: -10;
  @include media-laptop {
    // background: url(./assets/img/BG.png), #edf2f5;
    background-image: url(./assets/img/BG.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    z-index: -10;
  }
  @include media-mobile {
    background-image: url(./assets/img/mobileBG.svg);

    // background-image: url(./assets/img/mobileBG.svg);
    background-size: 105vw 105vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    z-index: -10;
  }  
}

.opacity {
    
      background: rgba($color: #f0f0f0, $alpha: 0.1);
   
  }

.wrapper {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  @include media-laptop {
    width: 90vw;
    overflow: hidden;
  }
}

.pulse {
    position: absolute;
    top: -7rem;
    margin: 100px;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(204 169 44 / 140%);
    animation: pulse 2s infinite;
    right: -8.5rem;
}
// .pulse:hover {
//   animation: none;
// }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 140%);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 140%);
    box-shadow: 0 0 0 0 rgba(204,169,44, 140%);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}