main {
  display: flex;
  @include media-laptop {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  @include media-mobile {
    position: relative;
  }
}

.bullets {
  width: 13vw;
  background: #fff;
  border-radius: 20px;
  padding: 3vw 2vw;
  font-size: 0.8vw;
  text-align: center;
  line-height: 1.5vw;
  margin-right: 2vw;
  &__shadow {
    height: 3vh;
    background: url(./assets/img/menu_shadow.svg);
    background-repeat: no-repeat;
    @include media-laptop {
      height: 4vh;
    }
  }
  @include media-laptop {
    display: none;
  }
  &__mobile {
    display: none;
    transition: all 1s;
    @include media-mobile {
      position: absolute;
      display: block;
      top: 43rem;
      width: 23rem;
      height: 38rem;
      background: url(./assets/img/bulletsMobile.svg);
      background-repeat: no-repeat;
    }
    &.up {
      transform: translateY(-51vh);
      .pulse {
        animation: none;
      }
    }
  }
}

.text {
  width: 40vw;
  padding: 3vw 2vw;
  &__start {
    width: 25vw;
    font-size: 2vw;
    line-height: 3vw;
    text-align: justify;
    @include media-laptop {
      width: 80vw;
      font-size: 3rem;
      line-height: 4rem;
      text-align: center;
      margin: 2rem 0;
    }
    @include media-mobile {
      font-size: 2rem;
      line-height: 3rem;
      margin: 1rem 0;
    }
  }
  &__install {
    display: flex;
    align-items: baseline;
    margin: 1vw 0;
    & p {
      font-size: 1.5vw;
      margin-left: 1.5vw;
      @include media-laptop {
        font-size: 2.5rem;
      }
      @include media-mobile {
        font-size: 2rem;
      }
    }

    @include media-laptop {
      margin: 2rem 0;
    }
  }
  &__buttons {
    display: flex;
    margin: 2vw 0;
    @include media-laptop {
      flex-direction: column;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7vw 2.5vw;
    border-radius: 500px;
    margin: 0 0.3vw;
    transition: all 0.3s;
    & p {
      font-size: 0.9vw;
      margin-right: 1vw;
      color: #fff;
      @include media-laptop {
        font-size: 1.8rem;
      }
      @include media-mobile {
        font-size: 1.3rem;
      }
    }
    &:nth-child(1) {
      background-color: #12c868;
    }
    &:nth-child(2) {
      background-color: #f38120;
    }
    & img {
      width: 1.5vw;
      @include media-laptop {
        width: 2rem;
        margin-left: 0.5rem;
      }
    }
    &:hover {
      cursor: pointer;
      transform: scale(105%);
    }
    @include media-laptop {
      margin: 1rem 0;
      padding: 4rem 5rem;
      height: 7rem;
    }
    // @include media-mobile {
    //   height: 8rem;
    // }
  }
  &__bottom {
    display: flex;
    align-items: flex-start;
    & p {
      text-align: center;
      width: 17vw;
      font-size: 1vw;
      line-height: 1.5vw;
      margin-left: 1vw;
      @include media-laptop {
        width: 16rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
      }
      @include media-mobile {
        font-size: 1.2rem;
      }
    }
    & img {
      &:hover {
        cursor: pointer;
      }
    }
    @include media-mobile {
      display: none;
    }
  }
  @include media-laptop {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
